<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fireball1.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,55},{75,68}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{75,68}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>fireball2.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,125},{84,71}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{84,71}}</string>
                <key>sourceSize</key>
                <string>{90,73}</string>
            </dict>
            <key>fireball3.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,308},{92,80}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{92,80}}</string>
                <key>sourceSize</key>
                <string>{116,80}</string>
            </dict>
            <key>fireball4.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,196},{114,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,97}}</string>
                <key>sourceSize</key>
                <string>{114,97}</string>
            </dict>
            <key>fireball5.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,308},{88,80}}</string>
                <key>offset</key>
                <string>{-12,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{88,80}}</string>
                <key>sourceSize</key>
                <string>{112,98}</string>
            </dict>
            <key>hit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,390},{113,105}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,105}}</string>
                <key>sourceSize</key>
                <string>{113,109}</string>
            </dict>
            <key>hit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,201},{113,105}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,105}}</string>
                <key>sourceSize</key>
                <string>{113,109}</string>
            </dict>
            <key>hit3.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,390},{99,105}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{99,105}}</string>
                <key>sourceSize</key>
                <string>{113,109}</string>
            </dict>
            <key>hit4.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,390},{103,109}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,109}}</string>
                <key>sourceSize</key>
                <string>{113,109}</string>
            </dict>
            <key>hit5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{105,109}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,109}}</string>
                <key>sourceSize</key>
                <string>{113,109}</string>
            </dict>
            <key>iceSpike1.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,101},{24,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{24,18}}</string>
                <key>sourceSize</key>
                <string>{24,20}</string>
            </dict>
            <key>iceSpike2.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,20},{33,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,25}}</string>
                <key>sourceSize</key>
                <string>{35,25}</string>
            </dict>
            <key>iceSpike3.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,55},{45,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,68}}</string>
                <key>sourceSize</key>
                <string>{45,68}</string>
            </dict>
            <key>icebolt.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,55},{45,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,44}}</string>
                <key>sourceSize</key>
                <string>{45,44}</string>
            </dict>
            <key>nova1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{185,197}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{185,197}}</string>
                <key>sourceSize</key>
                <string>{197,201}</string>
            </dict>
            <key>nova2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,201},{181,187}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{181,187}}</string>
                <key>sourceSize</key>
                <string>{183,187}</string>
            </dict>
            <key>particle.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,2},{14,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,15}}</string>
                <key>sourceSize</key>
                <string>{14,15}</string>
            </dict>
            <key>puff.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,20},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>specialAttack.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{369,2},{127,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,51}}</string>
                <key>sourceSize</key>
                <string>{127,51}</string>
            </dict>
            <key>specialLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,125},{71,69}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,69}}</string>
                <key>sourceSize</key>
                <string>{73,69}</string>
            </dict>
            <key>static1.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,20},{36,29}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{36,29}}</string>
                <key>sourceSize</key>
                <string>{36,43}</string>
            </dict>
            <key>static2.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,2},{36,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,43}}</string>
                <key>sourceSize</key>
                <string>{36,43}</string>
            </dict>
            <key>static3.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,55},{36,39}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,39}}</string>
                <key>sourceSize</key>
                <string>{36,43}</string>
            </dict>
            <key>thunderball.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,20},{34,33}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{34,33}}</string>
                <key>sourceSize</key>
                <string>{36,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FX.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5430568029e82a208b697cc767d34fe:1/1$</string>
            <key>textureFileName</key>
            <string>FX.png</string>
        </dict>
    </dict>
</plist>
