<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>IceSpike2.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,327},{33,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,25}}</string>
                <key>sourceSize</key>
                <string>{35,25}</string>
            </dict>
            <key>hi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,55},{113,105}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,105}}</string>
                <key>sourceSize</key>
                <string>{113,109}</string>
            </dict>
            <key>hi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,220},{99,105}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{99,105}}</string>
                <key>sourceSize</key>
                <string>{113,109}</string>
            </dict>
            <key>hi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{103,109}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,109}}</string>
                <key>sourceSize</key>
                <string>{113,109}</string>
            </dict>
            <key>hit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,2},{113,105}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,105}}</string>
                <key>sourceSize</key>
                <string>{113,109}</string>
            </dict>
            <key>hit5.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,109},{105,109}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,109}}</string>
                <key>sourceSize</key>
                <string>{113,109}</string>
            </dict>
            <key>iceSpike1.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,143},{24,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{24,18}}</string>
                <key>sourceSize</key>
                <string>{24,20}</string>
            </dict>
            <key>iceSpike3.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,220},{45,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,68}}</string>
                <key>sourceSize</key>
                <string>{45,68}</string>
            </dict>
            <key>icebolt.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,290},{45,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,44}}</string>
                <key>sourceSize</key>
                <string>{45,44}</string>
            </dict>
            <key>particle.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,181},{14,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,15}}</string>
                <key>sourceSize</key>
                <string>{14,15}</string>
            </dict>
            <key>puff.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,109},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,163},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>specialAttack.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{127,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,51}}</string>
                <key>sourceSize</key>
                <string>{127,51}</string>
            </dict>
            <key>specialLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,273},{71,69}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,69}}</string>
                <key>sourceSize</key>
                <string>{73,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Untitled.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08d181ed20a53db9b65f968195ce666e:1/1$</string>
            <key>textureFileName</key>
            <string>Untitled.png</string>
        </dict>
    </dict>
</plist>
