<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UI-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,332},{147,37}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{147,37}}</string>
                <key>sourceSize</key>
                <string>{153,41}</string>
            </dict>
            <key>UI-1136-640_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,784},{119,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,117}}</string>
                <key>sourceSize</key>
                <string>{119,117}</string>
            </dict>
            <key>UI-1136-640_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,965},{60,56}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{60,56}}</string>
                <key>sourceSize</key>
                <string>{62,56}</string>
            </dict>
            <key>UI-1136-640_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,905},{119,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,117}}</string>
                <key>sourceSize</key>
                <string>{119,117}</string>
            </dict>
            <key>UI-1136-640_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,757},{255,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,58}}</string>
                <key>sourceSize</key>
                <string>{255,58}</string>
            </dict>
            <key>UI-1136-640_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,784},{119,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,117}}</string>
                <key>sourceSize</key>
                <string>{119,117}</string>
            </dict>
            <key>UI-1136-640_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,784},{101,101}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{101,101}}</string>
                <key>sourceSize</key>
                <string>{103,105}</string>
            </dict>
            <key>UI-1136-640_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,784},{100,100}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{100,100}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>UI-1136-640_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,905},{106,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,104}}</string>
                <key>sourceSize</key>
                <string>{106,104}</string>
            </dict>
            <key>UI-1136-640_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,403},{109,9}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{109,9}}</string>
                <key>sourceSize</key>
                <string>{113,13}</string>
            </dict>
            <key>UI-1136-640_36_clone.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,403},{109,9}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{109,9}}</string>
                <key>sourceSize</key>
                <string>{113,13}</string>
            </dict>
            <key>UI-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,784},{144,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,166}}</string>
                <key>sourceSize</key>
                <string>{144,166}</string>
            </dict>
            <key>bossicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,316},{466,398}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{466,398}}</string>
                <key>sourceSize</key>
                <string>{466,398}</string>
            </dict>
            <key>bosslogo.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,965},{391,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{391,56}}</string>
                <key>sourceSize</key>
                <string>{391,56}</string>
            </dict>
            <key>box.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,965},{60,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,56}}</string>
                <key>sourceSize</key>
                <string>{60,58}</string>
            </dict>
            <key>caution.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,174},{430,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,140}}</string>
                <key>sourceSize</key>
                <string>{430,140}</string>
            </dict>
            <key>chest.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,886},{72,83}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,83}}</string>
                <key>sourceSize</key>
                <string>{78,83}</string>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,174},{27,29}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{27,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>coins.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,960},{66,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,83}}</string>
                <key>sourceSize</key>
                <string>{66,83}</string>
            </dict>
            <key>hpcounter.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,757},{348,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,206}}</string>
                <key>sourceSize</key>
                <string>{348,206}</string>
            </dict>
            <key>inframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{581,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,114}}</string>
                <key>sourceSize</key>
                <string>{581,114}</string>
            </dict>
            <key>numbers/UI-1136-640_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,205},{30,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{30,22}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>numbers/UI-1136-640_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,386},{15,18}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{15,18}}</string>
                <key>sourceSize</key>
                <string>{15,22}</string>
            </dict>
            <key>numbers/UI-1136-640_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,316},{16,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{16,20}}</string>
                <key>sourceSize</key>
                <string>{16,22}</string>
            </dict>
            <key>numbers/UI-1136-640_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,352},{15,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{15,20}}</string>
                <key>sourceSize</key>
                <string>{15,22}</string>
            </dict>
            <key>numbers/UI-1136-640_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,275},{17,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{17,20}}</string>
                <key>sourceSize</key>
                <string>{17,22}</string>
            </dict>
            <key>numbers/UI-1136-640_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,369},{15,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{15,20}}</string>
                <key>sourceSize</key>
                <string>{17,22}</string>
            </dict>
            <key>numbers/UI-1136-640_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,334},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{16,20}}</string>
                <key>sourceSize</key>
                <string>{16,22}</string>
            </dict>
            <key>numbers/UI-1136-640_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,237},{16,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,22}</string>
            </dict>
            <key>numbers/UI-1136-640_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,294},{17,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{17,20}}</string>
                <key>sourceSize</key>
                <string>{17,22}</string>
            </dict>
            <key>numbers/UI-1136-640_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,313},{17,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{17,20}}</string>
                <key>sourceSize</key>
                <string>{17,22}</string>
            </dict>
            <key>numbers/UI-1136-640_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,255},{18,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{18,20}}</string>
                <key>sourceSize</key>
                <string>{18,22}</string>
            </dict>
            <key>numbers/UI-1136-640_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,316},{7,12}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,12}}</string>
                <key>sourceSize</key>
                <string>{7,14}</string>
            </dict>
            <key>numbers/UI-1136-640_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,1013},{8,12}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{8,12}}</string>
                <key>sourceSize</key>
                <string>{10,14}</string>
            </dict>
            <key>numbers/UI-1136-640_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,1014},{9,12}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,12}}</string>
                <key>sourceSize</key>
                <string>{9,14}</string>
            </dict>
            <key>numbers/UI-1136-640_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,1014},{9,12}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,12}}</string>
                <key>sourceSize</key>
                <string>{9,14}</string>
            </dict>
            <key>numbers/UI-1136-640_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1014},{10,12}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,12}}</string>
                <key>sourceSize</key>
                <string>{10,14}</string>
            </dict>
            <key>numbers/UI-1136-640_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,1014},{9,12}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,12}}</string>
                <key>sourceSize</key>
                <string>{9,14}</string>
            </dict>
            <key>numbers/UI-1136-640_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,1014},{9,12}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,12}}</string>
                <key>sourceSize</key>
                <string>{9,14}</string>
            </dict>
            <key>numbers/UI-1136-640_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,1013},{9,12}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,12}}</string>
                <key>sourceSize</key>
                <string>{9,14}</string>
            </dict>
            <key>numbers/UI-1136-640_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{14,1014},{10,12}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,12}}</string>
                <key>sourceSize</key>
                <string>{10,14}</string>
            </dict>
            <key>numbers/UI-1136-640_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,1013},{9,12}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,12}}</string>
                <key>sourceSize</key>
                <string>{11,14}</string>
            </dict>
            <key>outframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1010,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1010,170}}</string>
                <key>sourceSize</key>
                <string>{1010,170}</string>
            </dict>
            <key>recharge.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,965},{46,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
            <key>victory.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,174},{575,437}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{575,437}}</string>
                <key>sourceSize</key>
                <string>{575,437}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BattlefieldUI.png</string>
            <key>size</key>
            <string>{1018,1029}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:93024a741ab5a6041b541e51240fa4f0:3ecaaa0751b871b83b22e36779d8dda6:bac84f502efee8ec895292343f47b09b$</string>
            <key>textureFileName</key>
            <string>BattlefieldUI.png</string>
        </dict>
    </dict>
</plist>
