<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UI-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,174},{147,37}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{147,37}}</string>
                <key>sourceSize</key>
                <string>{153,41}</string>
            </dict>
            <key>UI-1136-640_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,2},{119,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,117}}</string>
                <key>sourceSize</key>
                <string>{119,117}</string>
            </dict>
            <key>UI-1136-640_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,174},{60,56}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{60,56}}</string>
                <key>sourceSize</key>
                <string>{62,56}</string>
            </dict>
            <key>UI-1136-640_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,123},{119,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,117}}</string>
                <key>sourceSize</key>
                <string>{119,117}</string>
            </dict>
            <key>UI-1136-640_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,446},{255,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,58}}</string>
                <key>sourceSize</key>
                <string>{255,58}</string>
            </dict>
            <key>UI-1136-640_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,382},{119,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,117}}</string>
                <key>sourceSize</key>
                <string>{119,117}</string>
            </dict>
            <key>UI-1136-640_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1309,382},{101,101}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{101,101}}</string>
                <key>sourceSize</key>
                <string>{103,105}</string>
            </dict>
            <key>UI-1136-640_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,389},{100,100}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{100,100}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>UI-1136-640_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1203,382},{106,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,104}}</string>
                <key>sourceSize</key>
                <string>{106,104}</string>
            </dict>
            <key>UI-1136-640_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,213},{109,9}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{109,9}}</string>
                <key>sourceSize</key>
                <string>{113,13}</string>
            </dict>
            <key>UI-1136-640_36_clone.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,224},{109,9}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{109,9}}</string>
                <key>sourceSize</key>
                <string>{113,13}</string>
            </dict>
            <key>UI-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1471,244},{143,158}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,158}}</string>
                <key>sourceSize</key>
                <string>{143,160}</string>
            </dict>
            <key>bossicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{534,442}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{534,442}}</string>
                <key>sourceSize</key>
                <string>{534,442}</string>
            </dict>
            <key>bosslogo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{391,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{391,56}}</string>
                <key>sourceSize</key>
                <string>{391,56}</string>
            </dict>
            <key>caution.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,360},{430,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,140}}</string>
                <key>sourceSize</key>
                <string>{430,140}</string>
            </dict>
            <key>chest.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,360},{72,83}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,83}}</string>
                <key>sourceSize</key>
                <string>{78,83}</string>
            </dict>
            <key>coins.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,174},{66,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,83}}</string>
                <key>sourceSize</key>
                <string>{66,83}</string>
            </dict>
            <key>hpcounter.png</key>
            <dict>
                <key>frame</key>
                <string>{{1121,174},{348,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,206}}</string>
                <key>sourceSize</key>
                <string>{348,206}</string>
            </dict>
            <key>inframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,244},{581,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,114}}</string>
                <key>sourceSize</key>
                <string>{581,114}</string>
            </dict>
            <key>numbers/UI-1136-640_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,213},{30,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{30,22}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>numbers/UI-1136-640_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,174},{15,18}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{15,18}}</string>
                <key>sourceSize</key>
                <string>{15,22}</string>
            </dict>
            <key>numbers/UI-1136-640_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,174},{16,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{16,20}}</string>
                <key>sourceSize</key>
                <string>{16,22}</string>
            </dict>
            <key>numbers/UI-1136-640_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,210},{15,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{15,20}}</string>
                <key>sourceSize</key>
                <string>{15,22}</string>
            </dict>
            <key>numbers/UI-1136-640_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,174},{17,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{17,20}}</string>
                <key>sourceSize</key>
                <string>{17,22}</string>
            </dict>
            <key>numbers/UI-1136-640_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,196},{15,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{15,20}}</string>
                <key>sourceSize</key>
                <string>{17,22}</string>
            </dict>
            <key>numbers/UI-1136-640_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,174},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{16,20}}</string>
                <key>sourceSize</key>
                <string>{16,22}</string>
            </dict>
            <key>numbers/UI-1136-640_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,174},{16,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,22}</string>
            </dict>
            <key>numbers/UI-1136-640_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,212},{17,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{17,20}}</string>
                <key>sourceSize</key>
                <string>{17,22}</string>
            </dict>
            <key>numbers/UI-1136-640_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,210},{17,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{17,20}}</string>
                <key>sourceSize</key>
                <string>{17,22}</string>
            </dict>
            <key>numbers/UI-1136-640_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,213},{18,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{18,20}}</string>
                <key>sourceSize</key>
                <string>{18,22}</string>
            </dict>
            <key>numbers/UI-1136-640_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,235},{7,12}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,12}}</string>
                <key>sourceSize</key>
                <string>{7,14}</string>
            </dict>
            <key>numbers/UI-1136-640_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,234},{8,12}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{8,12}}</string>
                <key>sourceSize</key>
                <string>{10,14}</string>
            </dict>
            <key>numbers/UI-1136-640_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,196},{9,12}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,12}}</string>
                <key>sourceSize</key>
                <string>{9,14}</string>
            </dict>
            <key>numbers/UI-1136-640_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,232},{9,12}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,12}}</string>
                <key>sourceSize</key>
                <string>{9,14}</string>
            </dict>
            <key>numbers/UI-1136-640_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,198},{10,12}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,12}}</string>
                <key>sourceSize</key>
                <string>{10,14}</string>
            </dict>
            <key>numbers/UI-1136-640_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,232},{9,12}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,12}}</string>
                <key>sourceSize</key>
                <string>{9,14}</string>
            </dict>
            <key>numbers/UI-1136-640_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,196},{9,12}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,12}}</string>
                <key>sourceSize</key>
                <string>{9,14}</string>
            </dict>
            <key>numbers/UI-1136-640_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,196},{9,12}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,12}}</string>
                <key>sourceSize</key>
                <string>{9,14}</string>
            </dict>
            <key>numbers/UI-1136-640_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,198},{10,12}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,12}}</string>
                <key>sourceSize</key>
                <string>{10,14}</string>
            </dict>
            <key>numbers/UI-1136-640_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,232},{9,12}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,12}}</string>
                <key>sourceSize</key>
                <string>{11,14}</string>
            </dict>
            <key>outframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,2},{1010,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1010,170}}</string>
                <key>sourceSize</key>
                <string>{1010,170}</string>
            </dict>
            <key>recharge.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,194},{46,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BattlefieldUI.png</string>
            <key>size</key>
            <string>{1669,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a70a2c510d01774463f53abf6a9af2af:0faeeff82e82a34c6d97d16f8b9e5bc7:c3586fec223a8eff894d999977b64851$</string>
            <key>textureFileName</key>
            <string>BattlefieldUI.png</string>
        </dict>
    </dict>
</plist>
