<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cloud1.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,290},{319,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,54}}</string>
                <key>sourceSize</key>
                <string>{319,54}</string>
            </dict>
            <key>cloud2.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,290},{196,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,104}}</string>
                <key>sourceSize</key>
                <string>{196,104}</string>
            </dict>
            <key>light.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,302},{44,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,49}}</string>
                <key>sourceSize</key>
                <string>{44,49}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{652,286}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{652,286}}</string>
                <key>sourceSize</key>
                <string>{670,298}</string>
            </dict>
            <key>logo_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,2},{652,286}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{652,286}}</string>
                <key>sourceSize</key>
                <string>{670,298}</string>
            </dict>
            <key>logo_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{670,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{670,298}}</string>
                <key>sourceSize</key>
                <string>{670,298}</string>
            </dict>
            <key>start.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{176,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,64}}</string>
                <key>sourceSize</key>
                <string>{176,64}</string>
            </dict>
            <key>start_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,302},{176,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,64}}</string>
                <key>sourceSize</key>
                <string>{176,64}</string>
            </dict>
            <key>swing_l1.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,302},{43,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,32}}</string>
                <key>sourceSize</key>
                <string>{43,32}</string>
            </dict>
            <key>swing_l2.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,302},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>swing_r1.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,302},{43,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,32}}</string>
                <key>sourceSize</key>
                <string>{43,32}</string>
            </dict>
            <key>swing_r2.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,302},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainmenuscene.png</string>
            <key>size</key>
            <string>{1982,396}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7bad5895b44ef35d3fce936638fa202e:d7dcca619813bd1954d5eea06c375800:39f478ecf9875bc3a07ecf7e4494b648$</string>
            <key>textureFileName</key>
            <string>mainmenuscene.png</string>
        </dict>
    </dict>
</plist>
